@use "../../../styles/variables.scss" as *;
@use "sass:color";

.skeleton_card {
  border-radius: 8px;
  padding: 28px 24px;
  width: 400px;
  height: 567px;
  background: rgba(255, 255, 255, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.skeleton_image {
  width: 352px;
  height: 333px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.skeleton_text_line {
  height: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-top: 10px;
}

.skeleton_title {
  width: 80%;
  height: 26px;
  margin-top: 20px;
}

.skeleton_description {
  width: 60%;
  height: 16px;
  margin-top: 10px;
}

.skeleton_button {
  width: 352px;
  height: 74px;
  background-color: rgba(125, 18, 255, 0.1);
  border-radius: 5px;
  margin-top: 20px;
}


.skeleton_card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 100%);
  transform: translateX(-100%);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
} 